apps/agent-engine/n8n-workflows/02-commission-calculator.json
{
  "name": "Happy Home — 02 Commission Calculator",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Ho_Chi_Minh"
  },
  "nodes": [
    {
      "parameters": {
        "content": "## 💰 Commission Calculator\nFastAPI gọi khi deal `closed`.\n\n**Cấu hình env n8n:**\n- `HH_API_URL`, `INTERNAL_WEBHOOK_TOKEN`\n- Credential **Telegram** (Happy Home Sale Bot)\n- (Tuỳ chọn) Google Sheets — node đang *disabled*, bật khi đã nối credential.\n\nNode **Tính hoa hồng** chứa công thức 5 bậc CHÍNH XÁC theo agent-engine.",
        "height": 300,
        "width": 380
      },
      "id": "note-2",
      "name": "Hướng dẫn",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-40, -40]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "commission-calc",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-2",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [400, 220],
      "webhookId": "commission-calc"
    },
    {
      "parameters": {
        "jsCode": "// === Công thức hoa hồng 5 bậc Happy Home — CHÍNH XÁC theo agent-engine ===\nconst body = $input.first().json.body;\nconst dealAmount = Number(body.deal_amount);\nconst TY = 1e9; // 1 tỷ VND\n\n// Tổng pool hoa hồng dự án = 4% giá trị deal.\nconst pool = dealAmount * 0.04;\n\n// Bậc lũy tiến frontline tính trên monthly volume SAU khi cộng deal này.\nconst volumeAfter = Number(body.sale_monthly_volume_before || 0) + dealAmount;\nfunction frontlinePct(v) {\n  if (v < 5 * TY) return 50;\n  if (v < 10 * TY) return 55;\n  if (v < 15 * TY) return 60;\n  if (v < 20 * TY) return 62;\n  return 65;\n}\nconst flPct = frontlinePct(volumeAfter);\n\n// 5 bậc: company 20% / director 10% / manager 5% / leader 15% / frontline lũy tiến.\nconst tierDefs = [\n  { role: 'company',   label: 'Ekip công ty',   pct: 20,    name: 'Ekip công ty', chat_id: '',                              user_id: '' },\n  { role: 'director',  label: 'Giám đốc',       pct: 10,    name: body.director_name || 'Giám đốc',   chat_id: body.director_telegram_chat_id || '', user_id: body.director_id || '' },\n  { role: 'manager',   label: 'Trưởng phòng',   pct: 5,     name: body.manager_name || 'Trưởng phòng', chat_id: body.manager_telegram_chat_id || '', user_id: body.manager_id || '' },\n  { role: 'leader',    label: 'Sale Leader',    pct: 15,    name: body.leader_name || 'Sale Leader',   chat_id: body.leader_telegram_chat_id || '',  user_id: body.leader_id || '' },\n  { role: 'frontline', label: 'Sale Frontline', pct: flPct, name: body.sale_name || 'Sale',           chat_id: body.sale_telegram_chat_id || '',    user_id: body.sale_id || '' },\n];\n\nfunction fmt(n) { return Math.round(n).toLocaleString('vi-VN'); }\n\nconst tiers = tierDefs.map(t => ({\n  role: t.role,\n  user_id: t.user_id,\n  pct: t.pct,\n  amount: Math.round(pool * t.pct / 100),\n}));\n\n// Chỉ gửi Telegram cho người đã liên kết chat_id.\nconst recipients = tierDefs.filter(t => t.chat_id).map(t => {\n  const amount = Math.round(pool * t.pct / 100);\n  const message = t.role === 'frontline'\n    ? `🎉 Bạn đã chốt deal ${fmt(dealAmount)}đ — hoa hồng *${fmt(amount)}đ* (bậc ${t.pct}%)!`\n    : `💰 Deal mới: ${fmt(dealAmount)}đ\\nHoa hồng ${t.label} của bạn: *${fmt(amount)}đ*`;\n  return { role: t.role, name: t.name, chat_id: t.chat_id, pct: t.pct, amount, message, deal_id: body.deal_id };\n});\n\nconst distribution = {\n  deal_id: body.deal_id,\n  deal_amount: dealAmount,\n  commission_pool: Math.round(pool),\n  sale_id: body.sale_id,\n  sale_monthly_volume_after: volumeAfter,\n  frontline_tier_pct: flPct,\n  tiers,\n  recipients,\n};\n\nreturn [{ json: distribution }];"
      },
      "id": "code-calc",
      "name": "Tính hoa hồng",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 220]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.HH_API_URL }}/commissions/distribute",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "={{ $env.INTERNAL_WEBHOOK_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "http-distribute",
      "name": "Lưu về FastAPI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 100]
    },
    {
      "parameters": {
        "fieldToSplitOut": "recipients",
        "options": {}
      },
      "id": "split-recipients",
      "name": "Tách người nhận",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [900, 340]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "tg-pay",
      "name": "Telegram — Báo từng người",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1140, 340],
      "onError": "continueRegularOutput",
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_TELEGRAM_CREDENTIAL_ID",
          "name": "Happy Home Sale Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "REPLACE_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Happy Home Commission Log",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "deal_id": "={{ $json.deal_id }}",
            "role": "={{ $json.role }}",
            "name": "={{ $json.name }}",
            "pct": "={{ $json.pct }}",
            "amount": "={{ $json.amount }}"
          }
        },
        "options": {}
      },
      "id": "sheets-log",
      "name": "Google Sheets Log (bật sau khi nối credential)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1380, 340],
      "disabled": true
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Tính hoa hồng",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tính hoa hồng": {
      "main": [
        [
          {
            "node": "Lưu về FastAPI",
            "type": "main",
            "index": 0
          },
          {
            "node": "Tách người nhận",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tách người nhận": {
      "main": [
        [
          {
            "node": "Telegram — Báo từng người",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram — Báo từng người": {
      "main": [
        [
          {
            "node": "Google Sheets Log (bật sau khi nối credential)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {},
  "tags": []
}
