apps/agent-engine/n8n-workflows/07-cart-abandonment.json
{
  "name": "🛒 Cart Abandonment",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Ho_Chi_Minh"
  },
  "nodes": [
    {
      "parameters": {
        "content": "## 🛒 Cart Abandonment\n\nDaily 10h, tìm user có favorites > 7 ngày không booking → AI gợi ý.",
        "width": 380,
        "height": 280
      },
      "id": "note",
      "name": "Hướng dẫn",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -40,
        -40
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * *"
            }
          ]
        }
      },
      "id": "cron",
      "name": "Lịch chạy",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        400,
        200
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.HH_API_URL }}/admin/leads/favorites-7d-no-booking",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "={{ $env.INTERNAL_WEBHOOK_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "id": "h7",
      "name": "GET favorites stale",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        620,
        200
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "leads",
        "options": {}
      },
      "id": "sp7",
      "name": "Tách leads",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        860,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 600, system: \"B\\u1ea1n l\\u00e0 sale Happy Home. Kh\\u00e1ch \\u0111\\u00e3 th\\u00eam c\\u0103n v\\u00e0o favorites > 7 ng\\u00e0y nh\\u01b0ng ch\\u01b0a \\u0111\\u1eb7t l\\u1ecbch. Vi\\u1ebft 1 email ng\\u1eafn g\\u1ee3i \\u00fd \\u0111\\u1eb7t l\\u1ecbch xem tr\\u1ef1c ti\\u1ebfp. T\\u1ed1i \\u0111a 100 ch\\u1eef. C\\u00f3 CTA.\", messages: [ { role: 'user', content: 'Khách ' + $json.full_name + ' favorite các căn: ' + JSON.stringify($json.favorite_units || []) } ] }) }}",
        "options": {}
      },
      "id": "cl7",
      "name": "Claude — gợi ý",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        200
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fromEmail": "no-reply@bdsg.land",
        "toEmail": "={{ $('Tách leads').item.json.email }}",
        "subject": "=🏠 {{ $('Tách leads').item.json.full_name }}, căn bạn yêu thích vẫn còn — đặt lịch xem ngay",
        "emailFormat": "text",
        "text": "={{ $json.content[0].text }}",
        "options": {}
      },
      "id": "em7",
      "name": "Email gợi ý",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1340,
        200
      ],
      "disabled": true
    }
  ],
  "connections": {
    "Lịch chạy": {
      "main": [
        [
          {
            "node": "GET favorites stale",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET favorites stale": {
      "main": [
        [
          {
            "node": "Tách leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tách leads": {
      "main": [
        [
          {
            "node": "Claude — gợi ý",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude — gợi ý": {
      "main": [
        [
          {
            "node": "Email gợi ý",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {},
  "tags": []
}