apps/agent-engine/n8n-workflows/09-birthday-greeting.json
{
  "name": "🎂 Birthday Greeting",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Ho_Chi_Minh"
  },
  "nodes": [
    {
      "parameters": {
        "content": "## 🎂 Birthday Greeting\n\nDaily 8h sáng, gửi chúc mừng + voucher cho khách sinh nhật hôm nay.",
        "width": 380,
        "height": 280
      },
      "id": "note",
      "name": "Hướng dẫn",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -40,
        -40
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "cron",
      "name": "Lịch chạy",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        400,
        200
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.ELC_API_URL }}/admin/users/birthday-today",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "={{ $env.INTERNAL_WEBHOOK_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "id": "h9",
      "name": "GET birthday today",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        620,
        200
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "users",
        "options": {}
      },
      "id": "sp9",
      "name": "Tách users",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        860,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 600, system: \"B\\u1ea1n l\\u00e0 customer success ELC. Vi\\u1ebft l\\u1eddi ch\\u00fac sinh nh\\u1eadt \\u1ea5m \\u00e1p, k\\u00e8m voucher 5% g\\u00f3i n\\u1ed9i th\\u1ea5t n\\u1ebfu kh\\u00e1ch \\u0111\\u1eb7t c\\u1ecdc trong 30 ng\\u00e0y. T\\u1ed1i \\u0111a 80 ch\\u1eef. Ti\\u1ebfng Vi\\u1ec7t.\", messages: [ { role: 'user', content: 'Khách: ' + $json.full_name + ', tuổi ' + ($json.age || '?') } ] }) }}",
        "options": {}
      },
      "id": "cl9",
      "name": "Claude — gen greeting",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        120
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fromEmail": "no-reply@eurowindowlightcity.net",
        "toEmail": "={{ $('Tách users').item.json.email }}",
        "subject": "=🎂 Chúc mừng sinh nhật {{ $('Tách users').item.json.full_name }}!",
        "emailFormat": "text",
        "text": "={{ $json.content[0].text }}\n\nMã voucher: ELC-BDAY-{{ $('Tách users').item.json.user_id }}",
        "options": {}
      },
      "id": "em9",
      "name": "Email chúc mừng",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1340,
        120
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CHATWOOT_API_URL }}/api/v1/accounts/1/conversations/{{ $('Tách users').item.json.last_conversation_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $env.CHATWOOT_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ content: '🎂 ' + $json.content[0].text, message_type: 'outgoing', private: false }) }}",
        "options": {}
      },
      "id": "cw9",
      "name": "Chatwoot birthday msg",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        320
      ],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Lịch chạy": {
      "main": [
        [
          {
            "node": "GET birthday today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET birthday today": {
      "main": [
        [
          {
            "node": "Tách users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tách users": {
      "main": [
        [
          {
            "node": "Claude — gen greeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude — gen greeting": {
      "main": [
        [
          {
            "node": "Email chúc mừng",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chatwoot birthday msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {},
  "tags": []
}