apps/agent-engine/n8n-workflows/16-admin-daily-kpi.json
{
  "name": "📊 Admin Daily KPI",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Ho_Chi_Minh"
  },
  "nodes": [
    {
      "parameters": {
        "content": "## 📊 Admin Daily KPI\n\nCron 22h, query KPI hôm nay → Claude summarize → Telegram admin.",
        "width": 380,
        "height": 280
      },
      "id": "note",
      "name": "Hướng dẫn",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -40,
        -40
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 22 * * *"
            }
          ]
        }
      },
      "id": "cron",
      "name": "Lịch chạy",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        400,
        200
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.HH_API_URL }}/admin/kpi/today",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "={{ $env.INTERNAL_WEBHOOK_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "id": "h16",
      "name": "GET KPI today",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        620,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 600, system: \"B\\u1ea1n l\\u00e0 CFO Happy Home. T\\u00f3m t\\u1eaft KPI ng\\u00e0y theo bullet: leads m\\u1edbi / bookings / deals / doanh thu / commission \\u0111\\u00e3 chi. Highlight b\\u1ea5t th\\u01b0\\u1eddng. T\\u1ed1i \\u0111a 200 ch\\u1eef.\", messages: [ { role: 'user', content: 'KPI: ' + JSON.stringify($json) } ] }) }}",
        "options": {}
      },
      "id": "cl16",
      "name": "Claude — summarize KPI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        860,
        200
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $env.ADMIN_TELEGRAM_CHAT_ID }}",
        "text": "=📊 *KPI {{ new Date().toLocaleDateString('vi-VN') }}*\n\n{{ $json.content[0].text }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "tg16",
      "name": "Telegram admin",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1100,
        200
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_TELEGRAM_CREDENTIAL_ID",
          "name": "Happy Home Sale Bot"
        }
      }
    }
  ],
  "connections": {
    "Lịch chạy": {
      "main": [
        [
          {
            "node": "GET KPI today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET KPI today": {
      "main": [
        [
          {
            "node": "Claude — summarize KPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude — summarize KPI": {
      "main": [
        [
          {
            "node": "Telegram admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {},
  "tags": []
}