apps/agent-engine/n8n-workflows/19-health-monitor-6-platforms.json
{
  "name": "🩺 Health Monitor 6 Platforms",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Ho_Chi_Minh"
  },
  "nodes": [
    {
      "parameters": {
        "content": "## 🩺 Health Monitor 6 platforms\n\nCron mỗi 5 phút, ping 6 endpoint. Nếu có fail → alert Telegram.",
        "width": 380,
        "height": 280
      },
      "id": "note",
      "name": "Hướng dẫn",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -40,
        -40
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/5 * * * *"
            }
          ]
        }
      },
      "id": "cron",
      "name": "Lịch chạy",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        400,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Ping 6 platforms, đếm số fail\nconst targets = [\n  { name: 'agent-engine', url: 'https://api.eurowindowlightcity.net/health' },\n  { name: 'n8n',          url: 'https://n8n.eurowindowlightcity.net/healthz' },\n  { name: 'open-notebook',url: 'https://note.eurowindowlightcity.net/' },\n  { name: 'bot',          url: 'https://bot.eurowindowlightcity.net/' },\n  { name: 'chatwoot',     url: 'https://chat.eurowindowlightcity.net/' },\n  { name: 'web',          url: 'https://eurowindowlightcity.net/' },\n];\nconst results = await Promise.all(targets.map(async t => {\n  try {\n    const r = await this.helpers.httpRequest({ url: t.url, method: 'GET', timeout: 5000, returnFullResponse: true });\n    return { ...t, ok: r.statusCode < 500, status: r.statusCode };\n  } catch (e) {\n    return { ...t, ok: false, error: e.message };\n  }\n}));\nconst down = results.filter(r => !r.ok);\nreturn [{ json: { results, down, downCount: down.length } }];"
      },
      "id": "cd19",
      "name": "Ping 6 platforms",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.downCount }}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "larger",
                "singleValue": false
              }
            }
          ]
        },
        "options": {}
      },
      "id": "if19",
      "name": "Có platform down?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        860,
        200
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $env.ADMIN_TELEGRAM_CHAT_ID }}",
        "text": "=🩺 *HEALTH ALERT:* {{ $json.downCount }} platform down\n\n{{ $json.down.map(d => '❌ ' + d.name + ' (' + (d.status || d.error) + ')').join('\\n') }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "tg19",
      "name": "Telegram alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1100,
        120
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_TELEGRAM_CREDENTIAL_ID",
          "name": "ELC Sale Bot"
        }
      }
    }
  ],
  "connections": {
    "Lịch chạy": {
      "main": [
        [
          {
            "node": "Ping 6 platforms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ping 6 platforms": {
      "main": [
        [
          {
            "node": "Có platform down?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Có platform down?": {
      "main": [
        [
          {
            "node": "Telegram alert",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "pinData": {},
  "meta": {},
  "tags": []
}