apps/agent-engine/n8n-workflows/31-competitor-price-monitor.json
{
  "name": "🔍 Competitor Price Monitor",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Ho_Chi_Minh"
  },
  "nodes": [
    {
      "parameters": {
        "content": "## 🔍 Competitor Price Monitor\n\nDaily. Scrape giá Vinhomes/Sungroup/Eurowindow đối thủ → so sánh → alert nếu họ giảm.\n\nDùng proxy ELC endpoint vì scraping cần lib + proxy IP.",
        "width": 380,
        "height": 280
      },
      "id": "note",
      "name": "Hướng dẫn",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -40,
        -40
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        }
      },
      "id": "cron",
      "name": "Lịch chạy",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        400,
        200
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.ELC_API_URL }}/admin/marketing/competitor-prices",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "={{ $env.INTERNAL_WEBHOOK_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "id": "h31a",
      "name": "GET competitor prices",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        620,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const cur = $input.first().json.competitors || [];\nconst drops = cur.filter(c => c.price_change_pct && c.price_change_pct < -2);\nreturn [{ json: { drops, drop_count: drops.length, all: cur } }];"
      },
      "id": "cd31",
      "name": "Detect price drops",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.drop_count }}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "larger",
                "singleValue": false
              }
            }
          ]
        },
        "options": {}
      },
      "id": "if31",
      "name": "Có ai giảm giá?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1100,
        200
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $env.ADMIN_TELEGRAM_CHAT_ID }}",
        "text": "=🔍 *Competitor giảm giá hôm nay:*\n\n{{ $json.drops.map(d => '📉 ' + d.name + ': ' + d.price_change_pct + '%').join('\\n') }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "tg31",
      "name": "Telegram alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1340,
        120
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_TELEGRAM_CREDENTIAL_ID",
          "name": "ELC Sale Bot"
        }
      }
    }
  ],
  "connections": {
    "Lịch chạy": {
      "main": [
        [
          {
            "node": "GET competitor prices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET competitor prices": {
      "main": [
        [
          {
            "node": "Detect price drops",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect price drops": {
      "main": [
        [
          {
            "node": "Có ai giảm giá?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Có ai giảm giá?": {
      "main": [
        [
          {
            "node": "Telegram alert",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "pinData": {},
  "meta": {},
  "tags": []
}