apps/agent-engine/n8n-workflows/35-sale-bot-intent.json
{
  "name": "35-Sale Bot Intent",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "id": "trigger-telegram",
      "name": "Telegram Trigger (sale)",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "elc-sale-bot-intent",
      "credentials": {
        "telegramApi": {
          "id": "elc_proptech_bot",
          "name": "@elc_proptech_bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Filter: only allow messages from sale_users.json IDs\nconst fs = require('fs');\nlet saleUsers = [];\ntry {\n  const raw = fs.readFileSync('/home/node/.n8n/data/sale_users.json', 'utf8');\n  saleUsers = JSON.parse(raw).map(u => Number(u.telegram_id || u.id));\n} catch (e) {\n  // Fallback: env var SALE_USER_IDS=\"123,456\"\n  saleUsers = (process.env.SALE_USER_IDS || '').split(',').map(s => Number(s.trim())).filter(Boolean);\n}\nconst msg = $input.first().json;\nconst fromId = Number(msg?.message?.from?.id || msg?.from?.id);\nif (!saleUsers.includes(fromId)) {\n  return [];\n}\nreturn [{ json: {\n  chat_id: msg?.message?.chat?.id,\n  from_id: fromId,\n  username: msg?.message?.from?.username || '',\n  text: msg?.message?.text || ''\n}}];"
      },
      "id": "filter-sale-users",
      "name": "Filter: Sale Users Only",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-6",
        "messages": {
          "messageValues": [
            {
              "role": "system",
              "content": "Bạn là trợ lý AI cho sale ELC (Eurowindow Light City). Parse intent message thành JSON CHÍNH XÁC, KHÔNG markdown, KHÔNG giải thích.\n\nSchema:\n{\n  \"intent\": \"price_quote\" | \"lead_info\" | \"booking_list\" | \"unknown\",\n  \"params\": { ... }\n}\n\nVí dụ:\n- \"Báo giá căn A12\" → {\"intent\":\"price_quote\",\"params\":{\"unit_id\":\"A12\"}}\n- \"Báo giá căn hộ tầng 5 toà B\" → {\"intent\":\"price_quote\",\"params\":{\"floor\":5,\"tower\":\"B\"}}\n- \"Khách Nguyễn Văn A là ai\" → {\"intent\":\"lead_info\",\"params\":{\"q\":\"Nguyễn Văn A\"}}\n- \"Lead SĐT 0901234567\" → {\"intent\":\"lead_info\",\"params\":{\"q\":\"0901234567\"}}\n- \"Lịch hẹn ngày mai\" → {\"intent\":\"booking_list\",\"params\":{\"date\":\"tomorrow\"}}\n- \"Lịch của tôi tuần này\" → {\"intent\":\"booking_list\",\"params\":{\"range\":\"this_week\"}}\n- Bất kỳ điều gì không hiểu → {\"intent\":\"unknown\",\"params\":{}}\n\nCHỈ trả về JSON object, không có gì khác."
            },
            {
              "role": "user",
              "content": "={{ $json.text }}"
            }
          ]
        },
        "options": {
          "maxTokensToSample": 300,
          "temperature": 0
        }
      },
      "id": "claude-parse-intent",
      "name": "Claude: Parse Intent",
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [680, 300],
      "credentials": {
        "anthropicApi": {
          "id": "anthropic_main",
          "name": "Anthropic ELC"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse Claude JSON output, attach to payload\nconst raw = $input.first().json;\nlet text = raw.completion || raw.content?.[0]?.text || raw.text || '';\ntext = text.trim().replace(/^```json\\s*/i, '').replace(/```\\s*$/i, '');\nlet parsed;\ntry { parsed = JSON.parse(text); } catch (e) { parsed = { intent: 'unknown', params: {} }; }\nconst prev = $('Filter: Sale Users Only').first().json;\nreturn [{ json: { ...prev, intent: parsed.intent, params: parsed.params || {} } }];"
      },
      "id": "parse-claude-output",
      "name": "Parse Claude JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.intent }}",
        "rules": {
          "rules": [
            { "value2": "price_quote", "output": 0 },
            { "value2": "lead_info", "output": 1 },
            { "value2": "booking_list", "output": 2 }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "switch-intent",
      "name": "Switch: Intent",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.eurowindowlightcity.net/inventory/quote",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "unit_id", "value": "={{ $json.params.unit_id || '' }}" },
            { "name": "floor", "value": "={{ $json.params.floor || '' }}" },
            { "name": "tower", "value": "={{ $json.params.tower || '' }}" }
          ]
        },
        "options": { "timeout": 15000 }
      },
      "id": "http-quote",
      "name": "HTTP: price_quote",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1360, 100]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.eurowindowlightcity.net/crm/leads/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "q", "value": "={{ $json.params.q || '' }}" }
          ]
        },
        "options": { "timeout": 15000 }
      },
      "id": "http-leads",
      "name": "HTTP: lead_info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1360, 280]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.eurowindowlightcity.net/bookings",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "sale_id", "value": "={{ $('Filter: Sale Users Only').first().json.from_id }}" },
            { "name": "date", "value": "={{ $json.params.date || '' }}" },
            { "name": "range", "value": "={{ $json.params.range || '' }}" }
          ]
        },
        "options": { "timeout": 15000 }
      },
      "id": "http-bookings",
      "name": "HTTP: booking_list",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1360, 460]
    },
    {
      "parameters": {
        "jsCode": "// Unknown intent: friendly fallback\nreturn [{ json: { reply: '🤖 Sale Bot: mình chưa hiểu ý anh/chị. Thử: \"Báo giá căn A12\", \"Khách Nguyễn Văn A là ai\", \"Lịch hẹn ngày mai\".' } }];"
      },
      "id": "format-unknown",
      "name": "Format: unknown",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1360, 640]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nlet reply = '💰 *PHIẾU GIÁ*\\n';\nif (data.unit) {\n  reply += `Căn: ${data.unit.code || data.unit.id}\\n`;\n  reply += `Diện tích: ${data.unit.area || '-'} m²\\n`;\n  reply += `Giá niêm yết: ${(data.price_list || 0).toLocaleString('vi-VN')} VNĐ\\n`;\n  reply += `Sau CK: ${(data.price_final || 0).toLocaleString('vi-VN')} VNĐ\\n`;\n  reply += `Tình trạng: ${data.unit.status || '-'}\\n`;\n} else if (Array.isArray(data)) {\n  reply += data.slice(0,10).map(u => `• ${u.code} — ${(u.price_final||0).toLocaleString('vi-VN')} VNĐ — ${u.status}`).join('\\n');\n} else {\n  reply += 'Không tìm thấy căn phù hợp.';\n}\nreturn [{ json: { reply } }];"
      },
      "id": "format-quote",
      "name": "Format: quote",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1580, 100]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst leads = Array.isArray(data) ? data : (data.leads || (data.lead ? [data.lead] : []));\nlet reply = '👤 *THÔNG TIN LEAD*\\n';\nif (!leads.length) {\n  reply += 'Không tìm thấy lead.';\n} else {\n  reply += leads.slice(0,5).map(l => `• ${l.name} — ${l.phone || '-'} — ${l.source || '-'}\\n  Trạng thái: ${l.status || '-'} — Sale: ${l.assigned_sale || 'chưa gán'}`).join('\\n\\n');\n}\nreturn [{ json: { reply } }];"
      },
      "id": "format-leads",
      "name": "Format: leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1580, 280]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst items = Array.isArray(data) ? data : (data.bookings || []);\nlet reply = '📅 *LỊCH HẸN*\\n';\nif (!items.length) {\n  reply += 'Không có lịch hẹn.';\n} else {\n  reply += items.slice(0,10).map(b => `• ${b.start_time || b.time} — ${b.client_name || '-'} — ${b.unit_code || ''} ${b.note ? '— '+b.note : ''}`).join('\\n');\n}\nreturn [{ json: { reply } }];"
      },
      "id": "format-bookings",
      "name": "Format: bookings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1580, 460]
    },
    {
      "parameters": {
        "chatId": "={{ $('Filter: Sale Users Only').first().json.chat_id }}",
        "text": "={{ $json.reply }}",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "telegram-reply",
      "name": "Telegram: Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1820, 320],
      "credentials": {
        "telegramApi": {
          "id": "elc_proptech_bot",
          "name": "@elc_proptech_bot"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger (sale)": { "main": [[{ "node": "Filter: Sale Users Only", "type": "main", "index": 0 }]] },
    "Filter: Sale Users Only": { "main": [[{ "node": "Claude: Parse Intent", "type": "main", "index": 0 }]] },
    "Claude: Parse Intent": { "main": [[{ "node": "Parse Claude JSON", "type": "main", "index": 0 }]] },
    "Parse Claude JSON": { "main": [[{ "node": "Switch: Intent", "type": "main", "index": 0 }]] },
    "Switch: Intent": {
      "main": [
        [{ "node": "HTTP: price_quote", "type": "main", "index": 0 }],
        [{ "node": "HTTP: lead_info", "type": "main", "index": 0 }],
        [{ "node": "HTTP: booking_list", "type": "main", "index": 0 }],
        [{ "node": "Format: unknown", "type": "main", "index": 0 }]
      ]
    },
    "HTTP: price_quote": { "main": [[{ "node": "Format: quote", "type": "main", "index": 0 }]] },
    "HTTP: lead_info": { "main": [[{ "node": "Format: leads", "type": "main", "index": 0 }]] },
    "HTTP: booking_list": { "main": [[{ "node": "Format: bookings", "type": "main", "index": 0 }]] },
    "Format: quote": { "main": [[{ "node": "Telegram: Reply", "type": "main", "index": 0 }]] },
    "Format: leads": { "main": [[{ "node": "Telegram: Reply", "type": "main", "index": 0 }]] },
    "Format: bookings": { "main": [[{ "node": "Telegram: Reply", "type": "main", "index": 0 }]] },
    "Format: unknown": { "main": [[{ "node": "Telegram: Reply", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all",
    "timezone": "Asia/Ho_Chi_Minh"
  },
  "active": false,
  "tags": [
    { "name": "elc" },
    { "name": "sale-bot" },
    { "name": "ai-intent" }
  ],
  "meta": {
    "templateCredsSetupCompleted": false,
    "description": "Sale Bot Intent: parse Vietnamese sale messages via Claude into structured intents (price_quote, lead_info, booking_list) and call FastAPI backends."
  },
  "pinData": {}
}
